body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
}

header {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

header button {
    height: 45px;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

#msg {
    margin-top: 0;
    font-size: 16px;
}

#main div h1 {
    margin-bottom: 8px;
    width: 240px;
    font-size: 16px;
    text-align: center;
}

#main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#main div.left {
    margin-top: 30px;
}

#main div img {
    margin-left: 80px;
    width: 256px;
}

#main div img:hover {
    opacity: 0.9;
    cursor: pointer;
}

#main div img:active {
    transform: scale(.9);
}

#roundStartText {
    font-size: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 4px solid #fff;
    user-select: none;
    outline: none;
}

#roundStartText.active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate-round-start-text 1s;
}

#roundStartText.unactive {
    display: none;
}

.block-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

@media screen and (max-width: 687px) {
    header {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    header button {
        height: unset;
    }

    #msg {
        font-size: 14px;
        text-align: center;
        width: 100vw;
        margin-right: 0 !important;
        border-radius: unset;
    }

    #roundStartText {
        font-size: 30px;
        border: none;
    }

    #main {
        display: unset;
    }

    #main div.left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    #main div img {
        margin-left: 0;
        display: unset;
    }

    #main div:nth-child(2) {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .block-inline h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .alert.alert-primary {
        font-size: 15px !important;
    }

    #main div img {
        width: 180px;
    }
}

@keyframes animate-round-start-text {
    0% {
        transform: scale(.3);
        opacity: 0;
    }

    50% {
        transform: scale(.9);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}